In [1]:
import pandas as pd

In [99]:
df = pd.read_csv('./combined_basobaas_houses.csv') #self scraped dataset from basobaas

In [100]:
df2 = pd.read_csv("./nepalihousingset.csv") #dataset from kaggle (Author : Sangyam Thapa)

In [101]:
df.shape

(2169, 17)

In [102]:
df2.shape

(2211, 18)

In [103]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.drop(columns="property_id") #Dropping property_id from original dataset
df = df.rename(columns={'Floor':'Floors'}) #renaming column names
df=df.rename(columns={'title':'Title','address':'Address','price':'Price','bedroom':'Bedroom','bathroom':'Bathroom','floor':'Floors','parking':'Parking','property_face':'Face','build_year':'Year','views':'Views','area_covered':'Area','road_access':'Road','build_up_area':'Build Area','posted':'Posted','amenities':'Amenities'})

# Write updated DataFrame to CSV file
df.to_csv('basobaas.csv', index=False) #Dataset without indexing

df2=df2.drop(columns="Road Type") #Dropping Road type and City columns from kaggle dataset to integrate
df2 = df2.drop(columns="City")
df2 = df2.drop(columns="Road Width") #Dropped Road width from kaggle dataset

In [104]:
df = pd.read_csv("basobaas.csv")

In [105]:
print(df.shape)
print(df2.shape)

(2169, 15)
(2211, 15)

In [106]:
merged_df = pd.concat([dfWithoutPropertyId, df2], axis=0)

In [138]:
merged_df.drop_duplicates(subset=['Title', 'Face'], keep='first', inplace=True) # Dropped duplicates
merged_df.shape

(3072, 15)

In [140]:
merged_df.to_csv('no_duplicates_merged_file.csv', index=False) #saved no duplicate rows dataset (dataset shape:(3072,15))

In [253]:
df_noDup= pd.read_csv("no_duplicates_merged_file.csv")

In [254]:
df_noDup.isnull().sum() #Null values in dataset

Title            0
Address          0
Price            0
Bedroom          0
Bathroom         0
Floors        1410
Parking          0
Face             0
Year          2011
Views            0
Area             0
Road             0
Build Area       0
Posted           0
Amenities        0
dtype: int64

In [122]:
print(df_noDup.shape)

(3072, 15)

In [255]:
df_noDup.head()

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Build Area,Posted,Amenities
0,Tokha House(Residential) : House For Sale In T...,"Grande Tole, Tokha, Kathmandu","NPR. 3,50,00,000 Onwards",0,0,3.0,0,East,NaN,230,6-1 Aana,13 Feet,N/A Aana,3 weeks ago,[]
1,New House For Sale At Puspalal Chowk Biratnaga...,"Puspalal Chowk, Biratnagar, DDC Chowk, Biratnagar","NPR. 90,00,000 Onwards",3,1,1.0,1,East,2021.0,164,10 Dhur,20 Feet / Gravelled,7 Dhur,3 weeks ago,"['Drainage', 'Parking', 'Water Supply', 'Garde..."
2,"House For Sale In Tikathali, Lalitpur","Mahalaxmi-05, Tikathali, Tikathali, Lalitpur","NPR. 1,70,00,000",2,1,1.0,1,North,NaN,164,0-3-1 Aana,13 Feet / Gravelled,785 Sq. Feet,4 weeks ago,[]
3,COmmercial Property At Ringroad : House For Sa...,"Kusunti, Ekantakuna, Lalitpur","NPR. 3,20,00,000 Per Ropani",0,3,NaN,2,North,NaN,194,0-3-3-2 Aana,94 Feet / Blacktopped,0-3-3-2 Aana,1 month ago,[]
4,"House For Sale In Tarkeshwor, Kathmandu","Tarkeshor-5, Aryaltar, New Rangasala Basti, Go...","NPR. 1,70,00,000 Onwards",5,2,2.0,1,East,2079.0,180,3 Aana,10 Feet / Gravelled,3 Aana,1 month ago,"['Parking', 'Wifi', 'Balcony', 'Water Supply',..."

In [256]:
df_noDup['Address'] = df_noDup['Address'].str.split(",") #Splitting Address -> List
city_col = []
Address_short = []
for x in df['Address']:
    length = len(x)-1
    city_col.append(x[length])    #Appending to City list
    Address_short.append(x[length-1]) #Appending to short Address list
    
df_noDup['City'] = city_col
df_noDup['Address_short'] = Address_short #Adding two columns of City and Address

In [241]:
df_noDup.isnull().sum()

Title               0
Address             0
Price               0
Bedroom             0
Bathroom            0
Floors           1410
Parking             0
Face                0
Year             2011
Views               0
Area                0
Road                0
Build Area          0
Posted              0
Amenities           0
City                0
Address_short       0
dtype: int64

In [257]:
desired_cities = ['Kathmandu', 'Bhaktapur', 'Lalitpur']
filtered_df = df_noDup[~df_noDup['City'].str.contains('|'.join(desired_cities))] #Filtering rows that dont belong to desired_cities
print(len(filtered_df)," rows are of other districts")

285  rows are of other districts

In [258]:
newdf = df_noDup.drop(filtered_df.index) #Dropped rows that dont belong to desired_cities(Kathmandu Valley)

In [244]:
newdf.shape

(2787, 17)

In [259]:
newdf=newdf.rename(columns={'Address':'Full_Address','Address_short':'Address'})

newdf.to_csv('Kathmandu_valley_dataset.csv',index = False)
newdf.head()

,Title,Full_Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Build Area,Posted,Amenities,City,Address
0,Tokha House(Residential) : House For Sale In T...,"[Grande Tole, Tokha, Kathmandu]","NPR. 3,50,00,000 Onwards",0,0,3.0,0,East,NaN,230,6-1 Aana,13 Feet,N/A Aana,3 weeks ago,[],Kathmandu,Tokha
2,"House For Sale In Tikathali, Lalitpur","[Mahalaxmi-05, Tikathali, Tikathali, Lalitpur]","NPR. 1,70,00,000",2,1,1.0,1,North,NaN,164,0-3-1 Aana,13 Feet / Gravelled,785 Sq. Feet,4 weeks ago,[],Lalitpur,Tikathali
3,COmmercial Property At Ringroad : House For Sa...,"[Kusunti, Ekantakuna, Lalitpur]","NPR. 3,20,00,000 Per Ropani",0,3,NaN,2,North,NaN,194,0-3-3-2 Aana,94 Feet / Blacktopped,0-3-3-2 Aana,1 month ago,[],Lalitpur,Ekantakuna
4,"House For Sale In Tarkeshwor, Kathmandu","[Tarkeshor-5, Aryaltar, New Rangasala Basti,...","NPR. 1,70,00,000 Onwards",5,2,2.0,1,East,2079.0,180,3 Aana,10 Feet / Gravelled,3 Aana,1 month ago,"['Parking', 'Wifi', 'Balcony', 'Water Supply',...",Kathmandu,Tarkeshwor
5,Bungalow For Sale In Gahanapokhari : House For...,"[Gahana Pokhari, Naxal, Kathmandu]","NPR. 8,35,00,000 Onwards",4,4,3.0,0,South East,NaN,259,9-3-1 Aana,13 Feet,2800 Sq. Feet,1 month ago,"['Lawn', 'Parking', 'Garden', 'Water Supply', ...",Kathmandu,Naxal

In [49]:
cleandf = pd.read_csv('Kathmandu_valley_dataset.csv')

#Cleaning and Preprocessing Price column
strings_to_replace = ['NPR.','Onwards','Total price','Total','Total Price','N/A','onwards','onward','Price','price',',','TOTAL PRICE']
for string in strings_to_replace:
    cleandf['Price'] = cleandf['Price'].str.replace(string,'')
    cleandf['Price'] = cleandf['Price'].str.strip()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15532\3706232878.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  cleandf['Price'] = cleandf['Price'].str.replace(string,'')

In [50]:
#Cleaning and Preprocessing Road column

cleandf['Road'] = cleandf['Road'].str.split("/")
road = []
for x in cleandf['Road']:
    road.append(x.pop(0))
    
cleandf["Road"] = road
cleandf['Road'] = cleandf['Road'].str.replace("Feet","")
cleandf['Road'] = cleandf['Road'].str.strip()
for i, x in enumerate(cleandf['Road']):
    if 'Meter' in x:
        x = x.replace("Meter", '').strip()
        x = float(x) * 3.281
        cleandf.loc[i, 'Road'] = x

In [20]:
cleandf.head()
print(cleandf.shape)

(2644, 18)

In [23]:
desired_cities = ['Rent','Land For Sale','Business']
filtered_df = cleandf[cleandf['Title'].str.contains('|'.join(desired_cities))] #Filtering rows that dont belong to desired_cities
print(len(filtered_df),filtered_df)
cleandf = cleandf.drop(filtered_df.index)

71                                                   Title  \
893   New Japanese Style House For Business + Reside...
1514  Commercial Estate Land For Business : Land For...
1520  Fancy Shop Sale In Nayabazar : Business For Sa...
1521  Fancy Shop Sale In Shankhamul : Business For S...
1524               Business For Sale In Patan, Lalitpur
...                                                 ...
1796          Business For Sale In Pepsicola, Kathmandu
1797      Business For Sale In Old Baneshwor, Kathmandu
1817              Business For Sale In Naxal, Kathmandu
1823            Business For Sale In Godawari, Lalitpur
1834              Business For Sale In Jamal, Kathmandu

                                           Full_Address      Price  Bedroom  \
893   ['Khumaltar', ' 15', ' Civil Homes', ' Lalitpur']   60000000        5
1514  ['Basundhara', ' Ring Road', ' Dhapasi', ' Kat...     200000        0
1520         ['Nayabazar', ' Naya Bazar', ' Kathmandu']    3500000        0
1521         ['Shankhamul', ' Sankhamul', ' Kathmandu']     760000        0
1524                   ['Patan', ' Patan', ' Lalitpur']    3500000        0
...                                                 ...        ...      ...
1796          ['Pepsicola', ' Pepsicola', ' Kathmandu']     500000        0
1797  ['Old Baneshwor', ' Old Baneshwor', ' Kathmandu']    6000000        0
1817  ['Near', ' Bhat bhateni', ' Naxal', ' Kathmandu']    3000000        0
1823             ['Godawari', ' Godawari', ' Lalitpur']  251000000        0
1834                  ['Jamal', ' Jamal', ' Kathmandu']  170000000        0

      Bathroom  Floors  Parking        Face    Year Views           Area  \
893          4     4.0        2        East  2018.0  2.2K         5 Aana
1514         0     NaN        0  North West     NaN   203        10 Aana
1520         0     NaN        0  South West     NaN    98         1 Aana
1521         0     NaN        0  North West     NaN    81         1 Aana
1524         0     NaN        0        East     NaN   124  1500 Sq. Feet
...        ...     ...      ...         ...     ...   ...            ...
1796         0     NaN        0  South East     NaN   203   200 Sq. Feet
1797         0     NaN        0       South     NaN   317  1500 Sq. Feet
1817         0     NaN        0       South     NaN  4.9K   400 Sq. Feet
1823         0     NaN        0  North East     NaN   282    156.75 Aana
1834         0     NaN        0        West     NaN   552   0-7-0-0 Aana

      Road     Build Area        Posted  \
893    0.0      3000 Aana   2 years ago
1514  20.0        10 Aana   3 weeks ago
1520  16.0       N/A Aana   1 month ago
1521   0.0       N/A Aana   1 month ago
1524   0.0       N/A Aana  2 months ago
...    ...            ...           ...
1796   0.0   N/A Sq. Feet    1 year ago
1797   0.0   N/A Sq. Feet    1 year ago
1817  35.0   N/A Sq. Feet    1 year ago
1823  16.0   N/A Sq. Feet    1 year ago
1834  30.0  2000 Sq. Feet    1 year ago

                                              Amenities        City  \
893   ['Garage', 'Balcony', 'Garden', 'TV Cable', 'W...    Lalitpur
1514                                                 []   Kathmandu
1520                                                 []   Kathmandu
1521                                                 []   Kathmandu
1524                                                 []    Lalitpur
...                                                 ...         ...
1796                                                 []   Kathmandu
1797                       ['Drainage', 'Water Supply']   Kathmandu
1817                      ['Air Condition', 'TV Cable']   Kathmandu
1823                                                 []    Lalitpur
1834                                                 []   Kathmandu

             Address Area(Sq.Feet)
893      Civil Homes       1711.25
1514         Dhapasi        3422.5
1520      Naya Bazar        342.25
1521       Sankhamul        342.25
1524           Patan         1500
...              ...           ...
1796       Pepsicola          200
1797   Old Baneshwor         1500
1817           Naxal          400
1823        Godawari    59808.1875
1834           Jamal       2395.75

[71 rows x 18 columns]

In [38]:
cleandf.shape

(1767, 18)

In [37]:
cleandf.isnull().sum()

Title              0
Full_Address       0
Price              0
Bedroom            0
Bathroom           0
Floors           513
Parking            0
Face               0
Year             897
Views              0
Area               0
Road               0
Build Area         0
Posted             0
Amenities          0
City               0
Address            0
Area(Sq.Feet)      0
dtype: int64

In [48]:
#Cleaning and Preprocessing Land Area
def calculate_land_area(data):
    data = data.replace('.','-').strip()
    data = data.replace(',','-').strip()
    
    patterns = ['Aana','aana','AANA','Ropani','Sq-Feet','Sq- Feet']
    # Split the data by whitespace and '-' to extract the numbers
    for pattern in patterns:
        if pattern in data :
            numbers = [int(num) for num in data.replace('-',' ').split() if num.isdigit()]
            if len(numbers) == 1:
                return (numbers[0])
            elif len(numbers) == 2 and numbers[0]!=0:
                return (numbers[0] + numbers[1]/4)
            elif len(numbers) == 2 and numbers[0]==0:
                return (numbers[1]) 
            elif len(numbers) == 3 and numbers[0]!=0:
                return (numbers[0] + numbers[1]/4 )
            elif len(numbers) == 3 and numbers[0]==0:
                return (numbers[1] + numbers[2]/4 )
            elif len(numbers) == 4 and numbers[0]!=0:
                return (numbers[0]*16 + numbers[1] + float(numbers[2]/4) + float(numbers[3]/16)
            elif len(numbers) == 4 and numbers[0]==0:
                 return (numbers[1] + float(numbers[2]/4) + float(numbers[3]/16) )
            elif len(numbers) == 5 and numbers[0]==0:
                return (numbers[1] + float(numbers[2]/4) + float(numbers[3]/16) )
            else:
                return None
    # Calculate the land area in Aana
   

# Test the function with the provided data patterns
# data_patterns = [
#     "6-1 Aana",
#     "0-3-1 Aana",
#     "0-3-3-2 Aana",
#     "3 Aana"
# ]

for i,x in enumerate(cleandf['Area']):
    squareFeetPatterns = ['Sq.Feet','Sq. Feet','Sq.  Feet','dont know','sqft']
    meterPatterns = ['Sq. Meter','sqm','sq.meter','Sq.Meter']
    land_area = calculate_land_area(x)
    if(land_area!=None):
        cleandf.loc[i,'Area(Sq.Feet)'] = land_area*342.25
        
    for pattern in squareFeetPatterns:
        if pattern in x and '-' not in x:
                cleandf.loc[i,'Area(Sq.Feet)'] =  cleandf.loc[i,'Area'].replace(pattern ,'').strip()
                cleandf.loc[i,'Area(Sq.Feet)'] =  cleandf.loc[i,'Area']
                
                
    for pattern in meterPatterns:
         if pattern in x:
#                 cleandf[i,'Area(Sq.Feet)'] = float(x.replace(pattern,'').strip())*10.7639
                cleandf.loc[i,'Area(Sq.Feet)'] = float(x.replace(pattern,'').strip())*10.7639
                cleandf.loc[i,'Area(Sq.Feet)'] =  cleandf.loc[i,'Area'].replace('Sq. Meter' ,'')
                
    
#         print(f"{i} {x}: {land_area*342.23} Sq.Feet")
    
#                 print(cleandf.loc[i,'Area(Sq.Feet)'])       
   
#     if '.' in x:
#         if 'Aana' in x:
#             x= x.replace('Aana','').strip()
#             if(len(x)==3):
#                 cleandf.loc[i,'Area(Sq.Feet)'] = float(x)*342.25
#             if(len(x)==4):
#                 cleandf.loc[i,'Area(Sq.Feet)'] = float(x)*342.25
#             if(len(x)==5):
#                 print(x)
#         if 'Ropani' in x:
#             x= x.replace('Ropani','').strip()
#             if '+' in x:
#                 x = x.replace('+','')
#                 cleandf.loc[i,'Area(Sq.Feet)'] = float(x)*5476
#             if(len(x)==3):
#                 cleandf.loc[i,'Area(Sq.Feet)'] = float(x)*5476
#             if(len(x)==4):
#                 cleandf.loc[i,'Area(Sq.Feet)'] = float(x)*5476
#             if(len(x)==5):
#                 cleandf.loc[i,'Area(Sq.Feet)'] = float(x)*5476

SyntaxError: invalid syntax (4021118680.py, line 23)

In [75]:
cleandf = pd.read_csv('dataset_cleaning.csv')
cleandf.shape

(1767, 19)

In [10]:
cleandf.drop_duplicates(subset=['Bedroom','Bathroom','Parking','Area','Road', 'Price','Face','Amenities','City','Address','Floors','Build Area'], keep='first', inplace=True) # Dropped duplicates

In [39]:


null_mask = cleandf['Area(Sq.Feet)'].str.contains('Sq. Feet')

# Retrieve the null values
null_values = cleandf['Area(Sq.Feet)'][null_mask]

# Retrieve the locations of the null values
null_locations = null_values.index
for x in null_locations:
    print(cleandf['Area(Sq.Feet)'][x],"loc:",x)
#     if(x==339):
#         cleandf['Area(Sq.Feet)'][x] = 1197.84
#     if(x==1219):
#         cleandf['Area(Sq.Feet)'][x] = 2004.75
#     if(x==1135):
#         cleandf['Area(Sq.Feet)'][x] = 684.48

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [50]:
list = []
squareFeetPatterns = ['Sq.Feet','Sq. Feet','Sq.  Feet','dont know','sqft']
meterPatterns = ['Sq. Meter','sqm','sq.meter','Sq.Meter']
for i,x in enumerate(cleandf['Area(Sq.Feet)']):
    x = str(x)
    x = x.replace('Sq. Feet','')
    x = x.replace('sqft','')
    x = x.replace('dont know','').strip()
    if(x ==''):
        x = 0.0
        list.append(x)
        print(i,x)
    else:
        list.append(float(x))
        
print(list)
cleandf['Area(In Sq.Feet)'] = list

1509 0.0
[2139.0625, 1112.3125, 1326.21875, 1026.75, 3336.9375, 1711.25, 7529.5, 4449.25, 1369.0, 1197.875, 1369.0, 1026.75, 3422.5, 1369.0, 1369.0, 1454.5625, 7101.6875, 1112.3125, 1197.875, 4107.0, 2053.5, 1540.125, 1026.75, 2053.5, 2738.0, 1026.75, 128.8, 1369.0, 2909.125, 919.796875, 1112.3125, 1197.875, 1540.125, 1711.25, 2738.0, 1283.4375, 1240.65625, 3657.796875, 1197.875, 1369.0, 1197.875, 1197.875, 1882.375, 2203.234375, 1219.265625, 2053.5, 2738.0, 1369.0, 1369.0, 1112.3125, 1026.75, 1026.75, 1369.0, 1197.875, 1369.0, 1454.5625, 1711.25, 1711.25, 2631.046875, 4449.25, 1112.3125, 1026.75, 1026.75, 1711.25, 3508.0625, 1369.0, 1112.3125, 1005.359375, 1711.25, 3764.75, 1710.0, 1711.25, 1369.0, 2738.0, 2053.5, 2481.3125, 1026.75, 1026.75, 1197.875, 1026.75, 941.1875, 1796.8125, 2139.0625, 855.625, 2909.125, 5476.0, 1796.8125, 1240.65625, 3080.25, 8128.4375, 3764.75, 1369.0, 3508.0625, 1369.0, 2053.5, 1796.8125, 1112.3125, 6160.5, 1369.0, 2395.75, 4107.0, 6160.5, 2738.0, 1026.75, 5476.0, 3016.078125, 1197.875, 1796.8125, 1197.875, 1197.875, 1197.875, 2823.5625, 1796.8125, 1026.75, 1796.8125, 1625.6875, 1711.25, 1540.125, 1411.78125, 1197.875, 1369.0, 960.0, 2053.5, 1711.25, 1882.375, 5476.0, 1540.125, 1112.3125, 1711.25, 2909.125, 770.0625, 1283.4375, 1882.375, 2053.5, 1283.4375, 1369.0, 2117.671875, 8214.0, 8214.0, 2395.75, 3764.75, 1112.3125, 4791.5, 427.8125, 1711.25, 1197.875, 1026.75, 2053.5, 1967.9375, 2224.625, 2053.5, 2053.5, 1796.8125, 1369.0, 1197.875, 1219.265625, 1497.34375, 1197.875, 1197.875, 1026.75, 1026.75, 1668.46875, 1026.75, 4107.0, 3080.25, 3336.9375, 1796.8125, 1369.0, 1882.375, 5818.25, 11636.5, 427.8125, 2053.5, 1369.0, 1026.75, 342.25, 1711.25, 1369.0, 0.0, 1369.0, 3080.25, 10952.0, 1369.0, 1454.5625, 1112.3125, 1369.0, 1026.75, 1711.25, 2738.0, 2053.5, 3422.5, 1369.0, 1240.65625, 1219.265625, 1112.3125, 3251.375, 1347.609375, 2395.75, 1133.703125, 962.578125, 2600.0, 3251.375, 1240.65625, 2673.828125, 7508.109375, 1369.0, 2866.34375, 3080.25, 2759.390625, 2738.0, 2310.1875, 1369.0, 1711.25, 855.625, 1197.875, 1454.5625, 1048.140625, 1048.140625, 1732.640625, 1433.171875, 2738.0, 1711.25, 1026.75, 1369.0, 1283.4375, 1454.5625, 7443.9375, 1369.0, 1433.171875, 1711.25, 5818.25, 1711.25, 1796.8125, 4107.0, 1369.0, 1882.375, 1711.25, 1369.0, 1026.75, 1711.25, 2053.5, 1112.3125, 3422.5, 1369.0, 2310.1875, 4877.0625, 2053.5, 1369.0, 1112.3125, 1197.875, 1155.09375, 1540.125, 1197.875, 4192.5625, 1369.0, 2139.0625, 7871.75, 3422.5, 1390.390625, 2395.75, 1711.25, 3422.5, 1283.4375, 1540.125, 1647.078125, 855.625, 1197.875, 1026.75, 1711.25, 1155.09375, 1796.8125, 1197.875, 2738.0, 2395.75, 3080.25, 1796.8125, 1026.75, 1369.0, 1112.3125, 1369.0, 3422.5, 1711.25, 2738.0, 2909.125, 1026.75, 4107.0, 7786.1875, 1026.75, 2139.0625, 3251.375, 2566.875, 1026.75, 1112.3125, 1197.875, 2053.5, 342.25, 1711.25, 7615.0625, 1796.8125, 2481.3125, 7101.6875, 1540.125, 1197.875, 1369.0, 2481.3125, 1026.75, 1026.75, 1732.640625, 1026.75, 2738.0, 1540.125, 1369.0, 1026.75, 1369.0, 1369.0, 4107.0, 1283.4375, 2053.5, 1369.0, 1882.375, 855.625, 1454.5625, 1026.75, 1112.3125, 1026.75, 1369.0, 855.625, 1112.3125, 1369.0, 1369.0, 2224.625, 2738.0, 1369.0, 1197.875, 3080.25, 1711.25, 1026.75, 1369.0, 1133.703125, 1197.84, 1026.75, 1197.875, 1026.75, 1197.875, 1369.0, 1026.75, 1112.3125, 1112.3125, 1540.125, 855.625, 1369.0, 1882.375, 1882.375, 1369.0, 2139.0625, 1369.0, 1454.5625, 1026.75, 1369.0, 1540.125, 1540.125, 941.1875, 1540.125, 1369.0, 1369.0, 1026.75, 1197.875, 1369.0, 1711.25, 1711.25, 1026.75, 3593.625, 1026.75, 2738.0, 320.859375, 2053.5, 1026.75, 8214.0, 1369.0, 1197.875, 1197.875, 3764.75, 1540.125, 1369.0, 4278.125, 1026.75, 1369.0, 1369.0, 1112.3125, 1711.25, 1026.75, 2053.5, 1026.75, 1026.75, 1197.875, 1369.0, 1026.75, 1133.703125, 855.625, 2139.0625, 2053.5, 941.1875, 1197.875, 1026.75, 1069.53125, 1026.75, 1197.875, 11636.5, 1369.0, 1369.0, 2738.0, 941.1875, 1133.703125, 1197.875, 1197.875, 10952.0, 1133.703125, 1197.875, 1369.0, 1283.4375, 1754.03125, 1283.4375, 6160.5, 1197.875, 1112.3125, 1369.0, 1796.8125, 770.0625, 1197.875, 1026.75, 1454.5625, 1048.140625, 1561.515625, 1454.5625, 1197.875, 1369.0, 1026.75, 1796.8125, 5476.0, 2053.5, 1048.140625, 1369.0, 1026.75, 7187.25, 1839.59375, 1026.75, 855.625, 1711.25, 1112.3125, 1026.75, 855.625, 1283.4375, 1369.0, 855.625, 1240.65625, 1026.75, 1711.25, 1197.875, 1454.5625, 855.625, 1369.0, 1369.0, 10952.0, 4449.25, 1026.75, 941.1875, 1540.125, 1026.75, 855.625, 855.625, 2053.5, 1369.0, 1197.875, 1369.0, 2053.5, 1197.875, 1497.34375, 770.0625, 1540.125, 1283.4375, 1283.4375, 855.625, 1369.0, 1112.3125, 1711.25, 1369.0, 1026.75, 1711.25, 1283.4375, 1112.3125, 1369.0, 1369.0, 1369.0, 941.1875, 1112.3125, 1369.0, 855.625, 2053.5, 1197.875, 1026.75, 1369.0, 1369.0, 1454.5625, 1711.25, 2053.5, 1711.25, 1283.4375, 1026.75, 1112.3125, 1133.703125, 1026.75, 1454.5625, 941.1875, 1112.3125, 1283.4375, 1369.0, 1048.140625, 1711.25, 3123.03125, 3251.375, 2738.0, 1026.75, 1197.875, 1197.875, 898.40625, 2139.0625, 1240.65625, 1026.75, 1197.875, 1112.3125, 1197.875, 2738.0, 1454.5625, 1197.875, 1369.0, 1026.75, 2139.0625, 855.625, 770.0625, 770.0625, 1197.875, 1026.75, 1540.125, 1369.0, 1197.875, 684.5, 1369.0, 1283.4375, 1561.515625, 1197.875, 1711.25, 12663.25, 3764.75, 5476.0, 20535.0, 1369.0, 1026.75, 941.1875, 1026.75, 1026.75, 919.796875, 1540.125, 1689.859375, 1112.3125, 53.67, 855.625, 1112.3125, 1754.03125, 1625.6875, 1454.5625, 1026.75, 1262.046875, 1262.046875, 3058.859375, 1026.75, 2053.5, 1625.6875, 1711.25, 4107.0, 705.890625, 1005.359375, 1625.6875, 1967.9375, 1048.140625, 1133.703125, 7786.1875, 1711.25, 1369.0, 6738.046875, 2053.5, 1754.03125, 1026.75, 1197.875, 1411.78125, 1711.25, 1197.875, 1454.5625, 6845.0, 3080.25, 1882.375, 1112.3125, 1540.125, 1925.15625, 1262.046875, 1240.65625, 855.625, 1540.125, 1369.0, 877.015625, 910.0, 748.671875, 1967.9375, 3764.75, 2502.703125, 1540.125, 2053.5, 1197.875, 1069.53125, 1112.3125, 1540.125, 1540.125, 1369.0, 1369.0, 1347.609375, 1369.0, 1219.265625, 2053.5, 1262.046875, 1197.875, 1369.0, 1133.703125, 1197.875, 3080.25, 1240.65625, 1369.0, 1711.25, 111.0, 1197.875, 2395.75, 2053.5, 1347.609375, 1026.75, 1369.0, 406.421875, 1369.0, 1197.875, 1796.8125, 1882.375, 1026.75, 10952.0, 11722.0625, 1369.0, 1369.0, 1197.875, 877.015625, 85.5625, 1100.0, 983.96875, 1197.875, 1540.125, 2139.0625, 1540.125, 1540.125, 2738.0, 1026.75, 1197.875, 770.0625, 1026.75, 941.1875, 1026.75, 11636.5, 941.1875, 1197.875, 1711.25, 1369.0, 1369.0, 1026.75, 1240.65625, 1369.0, 1112.3125, 1796.8125, 1197.875, 1197.875, 3080.25, 2481.3125, 2994.6875, 855.625, 1582.90625, 1711.25, 6845.0, 6845.0, 4107.0, 2395.75, 1369.0, 6160.5, 1197.875, 1711.25, 7529.5, 1711.25, 1026.75, 1711.25, 1026.75, 1796.8125, 4192.5625, 1369.0, 5476.0, 855.625, 1369.0, 1711.25, 3764.75, 1561.515625, 0.0, 1369.0, 6845.0, 941.1875, 4107.0, 1283.4375, 1369.0, 1796.8125, 8214.0, 1796.8125, 1026.75, 2738.0, 3764.75, 1882.375, 1026.75, 1026.75, 1026.75, 48.68, 1454.5625, 1369.0, 1369.0, 1369.0, 1283.4375, 1197.875, 1026.75, 2395.75, 1369.0, 3764.75, 2139.0625, 17797.0, 6845.0, 2395.75, 2738.0, 1369.0, 6845.0, 4107.0, 2738.0, 2652.4375, 1454.5625, 1026.75, 1112.3125, 1561.515625, 1925.15625, 1711.25, 855.625, 2395.75, 1967.9375, 2139.0625, 3764.75, 1582.90625, 1796.8125, 11208.6875, 2053.5, 684.5, 2738.0, 10267.5, 342.25, 2738.0, 2053.5, 1796.8125, 2738.0, 3058.859375, 2738.0, 6502.75, 2139.0625, 7187.25, 2395.75, 1369.0, 1026.75, 2139.0625, 1112.3125, 6160.5, 1540.125, 2053.5, 770.0625, 2053.5, 1026.75, 2224.625, 7529.5, 2053.5, 1347.609375, 3508.0625, 1380.0, 2395.75, 1454.5625, 1048.140625, 2395.75, 919.796875, 3080.25, 1369.0, 4791.5, 1112.3125, 2053.5, 1069.53125, 1112.3125, 2053.5, 1454.5625, 1219.265625, 1454.5625, 5304.875, 1112.3125, 770.0625, 7786.1875, 2224.625, 1283.4375, 1454.5625, 342.25, 55102.25, 1026.75, 1796.8125, 1369.0, 1369.0, 1454.5625, 1197.875, 1197.875, 941.1875, 941.1875, 1711.25, 1369.0, 919.796875, 1112.3125, 11636.5, 1026.75, 1369.0, 1048.140625, 1369.0, 2139.0625, 4107.0, 1561.515625, 2053.5, 8898.5, 1711.25, 2053.5, 8898.5, 1369.0, 1197.875, 1369.0, 1711.25, 3379.71875, 10267.5, 1540.125, 1625.6875, 1112.3125, 2738.0, 4877.0625, 1026.75, 4107.0, 2738.0, 1796.8125, 2738.0, 2823.5625, 748.671875, 2053.5, 1711.25, 1454.5625, 1219.265625, 10267.5, 1112.3125, 4192.5625, 3529.453125, 1796.8125, 1711.25, 5476.0, 1283.4375, 3422.5, 4877.0625, 2738.0, 18567.0625, 3422.5, 1711.25, 1711.25, 4877.0625, 2481.3125, 1112.3125, 1625.6875, 120.0, 1197.875, 3508.0625, 2139.0625, 1475.953125, 1283.4375, 4107.0, 1026.75, 1197.875, 1711.25, 10952.0, 855.625, 1882.375, 6673.875, 4385.078125, 4406.46875, 1369.0, 1540.125, 1711.25, 1369.0, 2738.0, 1369.0, 1197.875, 1197.875, 7187.25, 6502.75, 1369.0, 2139.0625, 6502.75, 1197.875, 1026.75, 3422.5, 7187.25, 1369.0, 2395.75, 1369.0, 1711.25, 3764.75, 1112.3125, 10267.5, 3080.25, 1454.5625, 4107.0, 1711.25, 1369.0, 1112.3125, 1369.0, 1369.0, 1796.8125, 1112.3125, 2738.0, 1369.0, 1818.203125, 1711.25, 1112.3125, 1197.875, 1475.953125, 2994.6875, 1026.75, 1112.3125, 1369.0, 1411.78125, 1026.75, 1369.0, 1112.3125, 1155.09375, 1026.75, 1197.875, 1369.0, 1369.0, 1711.25, 1112.3125, 1026.75, 941.1875, 1818.203125, 1625.6875, 1711.25, 1090.921875, 2738.0, 1240.65625, 1112.3125, 1197.875, 1369.0, 1369.0, 1369.0, 2053.5, 7443.9375, 2053.5, 1026.75, 1283.4375, 7786.1875, 1369.0, 1711.25, 1112.3125, 2053.5, 6502.75, 1026.75, 1197.875, 1369.0, 1711.25, 2053.5, 855.625, 1711.25, 1026.75, 2738.0, 1026.75, 2139.0625, 4534.8125, 4107.0, 1711.25, 2481.3125, 1026.75, 1369.0, 1197.875, 1026.75, 2053.5, 4107.0, 7187.25, 1026.75, 4107.0, 3080.25, 1369.0, 256.6875, 2738.0, 1625.6875, 1369.0, 1369.0, 3208.59375, 3422.5, 1754.03125, 2652.4375, 7187.25, 4449.25, 2053.5, 3764.75, 1796.8125, 1454.5625, 3422.5, 2738.0, 1112.3125, 5818.25, 4107.0, 2053.5, 2053.5, 1197.875, 1090.921875, 855.625, 1197.875, 1411.78125, 1026.75, 1369.0, 2139.0625, 1112.3125, 2395.75, 7443.9375, 1796.8125, 342.25, 1026.75, 7443.9375, 1026.75, 1369.0, 1026.75, 7529.5, 7187.25, 2053.5, 1112.3125, 1796.8125, 6845.0, 1369.0, 1711.25, 7358.375, 1369.0, 1647.078125, 3165.8125, 1112.3125, 1048.140625, 4791.5, 1026.75, 1454.5625, 1026.75, 1369.0, 1369.0, 1711.25, 2139.0625, 1967.9375, 1026.75, 6502.75, 2053.5, 1369.0, 1369.0, 3764.75, 1711.25, 3165.8125, 2395.75, 1711.25, 1454.5625, 1369.0, 1625.6875, 4962.625, 8128.4375, 6845.0, 1112.3125, 1369.0, 1112.3125, 1197.875, 1369.0, 2395.75, 2139.0625, 2395.75, 1369.0, 1711.25, 2053.5, 3080.25, 1540.125, 1197.875, 1454.5625, 1369.0, 1369.0, 1796.8125, 2481.3125, 1369.0, 1454.5625, 3080.25, 2738.0, 7443.9375, 7786.1875, 1197.875, 1197.875, 1069.53125, 1112.3125, 2053.5, 1454.5625, 1219.265625, 2053.5, 1069.53125, 1026.75, 1155.09375, 2930.515625, 1026.75, 1369.0, 1454.5625, 18823.75, 1369.0, 3165.8125, 2395.75, 2139.0625, 1048.140625, 7101.6875, 2823.5625, 684.48, 1026.75, 1197.875, 4107.0, 1454.5625, 2738.0, 1454.5625, 7187.25, 1112.3125, 1026.75, 5818.25, 4107.0, 2053.5, 4791.5, 1369.0, 1369.0, 1711.25, 1625.6875, 1796.8125, 2738.0, 1112.3125, 1369.0, 2395.75, 24984.25, 1369.0, 1711.25, 1048.140625, 2139.0625, 1369.0, 1112.3125, 1369.0, 4449.25, 1112.3125, 1454.5625, 2738.0, 1369.0, 5476.0, 5133.75, 2224.625, 3422.5, 855.625, 1540.125, 1967.9375, 1711.25, 1197.875, 1796.8125, 1711.25, 2053.5, 1796.8125, 1026.75, 1112.3125, 1112.3125, 1133.703125, 1026.75, 3080.25, 1369.0, 1711.25, 5133.75, 3422.5, 2823.5625, 5818.25, 2738.0, 1069.53125, 855.625, 2395.75, 1026.75, 1048.140625, 2566.875, 1711.25, 1454.5625, 1540.125, 1454.5625, 1048.140625, 1454.5625, 1369.0, 1967.9375, 1026.75, 2053.5, 1026.75, 1711.25, 1369.0, 1369.0, 1390.390625, 1026.75, 2004.75, 919.796875, 1369.0, 1026.75, 1026.75, 1112.3125, 1026.75, 1369.0, 6845.0, 6160.5, 2823.5625, 1796.8125, 1711.25, 2481.3125, 6160.5, 2224.625, 1026.75, 941.1875, 1112.3125, 962.578125, 1197.875, 1711.25, 1026.75, 1369.0, 1369.0, 1197.875, 2139.0625, 1026.75, 898.40625, 941.1875, 1882.375, 2139.0625, 1026.75, 1369.0, 2395.75, 1112.3125, 1796.8125, 1369.0, 1454.5625, 1090.921875, 855.625, 3080.25, 10.0, 1197.875, 1454.5625, 1711.25, 2310.1875, 1454.5625, 1711.25, 1454.5625, 1454.5625, 1197.875, 2374.359375, 1454.5625, 1090.921875, 1540.125, 1540.125, 1026.75, 2395.75, 1796.8125, 4791.5, 1262.046875, 6845.0, 3764.75, 855.625, 3080.25, 1454.5625, 2395.75, 2395.75, 770.0625, 10952.0, 2053.5, 1026.75, 1454.5625, 2738.0, 1369.0, 1112.3125, 1454.5625, 1283.4375, 1112.3125, 1540.125, 2224.625, 598.9375, 1369.0, 1711.25, 1369.0, 1711.25, 342.25, 1026.75, 1219.265625, 684.5, 1240.65625, 1711.25, 1369.0, 1369.0, 1026.75, 1369.0, 1369.0, 1540.125, 3422.5, 1369.0, 2053.5, 2738.0, 2481.3125, 3721.96875, 1369.0, 1369.0, 1026.75, 1112.3125, 1369.0, 1796.8125, 1112.3125, 1026.75, 1796.8125, 2738.0, 1197.875, 1711.25, 1026.75, 1197.875, 1347.609375, 1026.75, 1900.0, 8.0, 1711.25, 2181.84375, 2395.75, 1369.0, 1369.0, 1026.75, 1197.875, 1026.75, 855.625, 1369.0, 2139.0625, 2395.75, 1369.0, 8299.5625, 1112.3125, 1369.0, 2310.1875, 1711.25, 1540.125, 1369.0, 2053.5, 1026.75, 2395.75, 1625.6875, 1369.0, 4577.59375, 2738.0, 1775.421875, 2224.625, 1454.5625, 1369.0, 1112.3125, 1369.0, 1026.75, 4449.25, 2823.5625, 2053.5, 1369.0, 1197.875, 1112.3125, 1540.125, 1026.75, 1369.0, 1026.75, 2224.625, 3080.25, 1283.4375, 2139.0625, 1112.3125, 2139.0625, 1454.5625, 1112.3125, 1026.75, 5133.75, 1454.5625, 8.0, 2053.5, 1197.875, 2139.0625, 1369.0, 684.5, 1369.0, 1454.5625, 1155.09375, 1026.75, 1796.8125, 3422.5, 1112.3125, 1454.5625, 1454.5625, 2053.5, 1711.25, 1197.875, 1112.3125, 1454.5625, 1133.703125, 1711.25, 1369.0, 1155.09375, 2139.0625, 1540.125, 1711.25, 342.25, 1026.75, 877.015625, 1369.0, 1112.3125, 1369.0, 1112.3125, 941.1875, 2395.75, 1882.375, 1369.0, 2909.125, 1796.8125, 1026.75, 2139.0625, 2053.5, 1454.5625, 2481.3125, 3.1, 1454.5625, 1026.75, 1048.140625, 1112.3125, 1369.0, 5347.65625, 1540.125, 2395.75, 1197.875, 1197.875, 1411.78125, 1197.875, 1026.75, 855.625, 1625.6875, 1796.8125, 1775.421875, 1775.421875, 598.9375, 1796.8125, 3080.25, 2053.5, 1219.265625, 2481.3125, 4107.0, 2053.5, 2139.0625, 4192.5625, 1369.0, 1689.859375, 1454.5625, 1475.953125, 2738.0, 1026.75, 1796.8125, 2139.0625, 3764.75, 3080.25, 1711.25, 1454.5625, 5476.0, 7187.25, 5818.25, 3508.0625, 1112.3125, 3165.8125, 2053.5, 3422.5, 1369.0, 1369.0, 1796.8125, 21904.0, 3401.109375, 1540.125, 2395.75, 10609.75, 1475.953125, 1369.0, 1754.03125, 2566.875, 1197.875, 1860.984375, 1369.0, 1369.0, 2224.625, 1369.0, 0.0, 1240.65625, 3422.5, 3422.5, 1026.75, 1400.0, 1583.0, 900.0, 1200.0, 1026.75, 1026.75, 683.0, 1882.375, 1197.875, 1796.8125, 1711.25, 1625.6875, 1090.921875, 684.5, 3251.375, 3080.25, 3422.5, 2053.5, 2139.0625, 6502.75, 1112.3125, 1026.75, 1090.921875, 1369.0, 4107.0, 1369.0, 1711.25, 3764.75, 1026.75, 1625.6875, 1882.375, 2053.5, 1454.5625, 1026.75, 3165.8125, 1026.75, 2181.84375, 1026.75, 1026.75, 2738.0, 6845.0, 32856.0, 2053.5, 1026.75, 4107.0, 1369.0, 1369.0, 1112.3125, 2053.5, 4107.0, 4107.0, 2139.0625, 1369.0, 2395.75, 1283.4375, 1369.0, 3422.5, 5818.25, 2053.5, 1882.375, 3080.25, 1340.0, 7529.5, 1796.8125, 1026.75, 1026.75, 1711.25, 1369.0, 1400.0, 1048.140625, 1026.75, 1800.0, 1369.0, 2395.75, 4791.5, 3764.75, 1711.25, 1711.25, 1112.3125, 2053.5, 1369.0, 7786.1875, 5476.0, 1711.25, 2139.0625, 1369.0, 2909.125, 6074.9375, 1796.8125, 2395.75, 7187.25, 1711.25, 4107.0, 3080.25, 3080.25, 2738.0, 1711.25, 2053.5, 1369.0, 3080.25, 1259.0, 1369.0, 1197.875, 1197.875, 500.0, 1369.0, 1796.8125, 1026.75, 1026.75, 1026.75, 1369.0, 941.1875, 1026.75, 4791.5, 2139.0625, 2395.75, 1540.125, 1283.4375, 1112.3125, 1796.8125, 1369.0, 2053.5, 1369.0, 1369.0, 1454.5625, 1925.15625, 3422.5, 3251.375, 1369.0, 941.1875, 2224.625, 4620.375, 3165.8125, 2738.0, 1369.0, 2053.5, 2395.75, 4107.0, 1796.8125, 2481.3125, 2738.0, 8898.5, 4149.78125, 1390.390625, 855.625, 1850.0, 6160.5, 7871.75, 1711.25, 1026.75, 2823.5625, 1112.3125, 3080.25, 1262.046875, 1369.0, 1369.0, 1026.75, 3764.75, 1197.875, 3080.25, 5476.0, 1369.0, 700.0, 1454.5625, 1946.546875, 1369.0, 1283.4375, 2053.5, 2738.0, 1369.0, 2700.0, 5818.25, 1026.75, 1197.875, 1711.25, 1347.609375, 2738.0, 2845.0, 1369.0, 1197.875, 2053.5, 2395.75, 1369.0, 2139.0625, 174.3, 1625.6875, 2395.75, 1155.09375, 4577.59375, 1775.421875, 1450.0, 1026.75, 1283.4375, 1112.3125, 1197.875, 2738.0, 1711.25, 1369.0, 1369.0, 2224.625, 1283.4375, 1197.875, 1369.0, 727.28125, 5133.75, 1197.875, 1454.5625, 1796.8125, 3400.0, 1780.0, 1380.0, 1500.0, 4107.0, 2481.3125, 1026.75, 3422.5, 2909.125, 1800.0, 3700.0, 2450.0, 1882.375, 1197.875, 1176.484375, 2395.75, 1026.75, 1026.75, 1240.65625, 1197.875, 3508.0625, 1326.21875, 1540.125, 165.0, 855.625, 800.0, 1582.0, 1775.421875, 1775.421875, 3400.0, 1350.0, 3000.0, 683.0, 6074.9375, 5133.75, 65712.0, 65712.0, 2566.875, 4021.4375, 1711.25, 1860.984375, 1925.15625, 1336.0, 10267.5, 1112.3125]

In [138]:
cleandf = pd.read_csv('dataset_cleaning.csv')
cleandf.shape

(1762, 20)

In [112]:
# matching_values = cleandf['Price'].str.contains("Per")
# # print(matching_values)
# sum_matching_values = cleandf[matching_values]["Price"].index
# index = []
# for x in sum_matching_values:
#     index.append(x)
cleandf['Price(Float)'] = cleandf['Price']
print(index)
print(len(index))
patterns = ['Per Ropani','Per Aana','Per Month','Per aana','Per Acres','per aana']
for i in index:
    for pattern in patterns:
        if pattern in str(cleandf['Price'][i]):
            if pattern == "Per Ropani":
                    price = cleandf['Price'][i].replace('Per Ropani','').strip()
                    areaInRopani = float(cleandf['Area(In Sq.Feet)'][i]/5476)
                    calculatedPrice =areaInRopani*float(price)
                    cleandf['Price(Float)'][i] = calculatedPrice
#               print(cleandf['Price'][i])
#                 print("Per ropani")
            if pattern == "Per Aana":
                    price = cleandf['Price'][i].replace('Per Aana','').strip()
                    areaInAana = float(cleandf['Area(In Sq.Feet)'][i]/342.25)
                    calculatedPrice =areaInAana*float(price)
                    cleandf['Price(Float)'][i] = calculatedPrice
                    
            if pattern == "per aana":
                    price = cleandf['Price'][i].replace('per aana','').strip()
                    areaInAana = float(cleandf['Area(In Sq.Feet)'][i]/342.25)
                    calculatedPrice =areaInAana*float(price)
                    cleandf['Price(Float)'][i] = calculatedPrice
                    
                    
            if pattern == "Per aana":
                    price = cleandf['Price'][i].replace('Per aana','').strip()
                    areaInAana = float(cleandf['Area(In Sq.Feet)'][i]/342.25)
                    calculatedPrice =areaInAana*float(price)
                    cleandf['Price(Float)'][i] = calculatedPrice
                    
#               print(cleandf['Price'][i])

            if pattern == "Per Acres":
                    price = cleandf['Price'][i].replace('Per Acres','').strip()
                    areaInAcres = float(cleandf['Area(In Sq.Feet)'][i]/4046.86)
                    calculatedPrice =areaInAcres*float(price)
                    cleandf['Price(Float)'][i] = calculatedPrice

[2, 34, 50, 59, 75, 90, 100, 137, 138, 181, 190, 217, 230, 254, 273, 315, 366, 381, 415, 438, 516, 539, 551, 588, 612, 663, 710, 723, 752, 762, 764, 767, 782, 810, 854, 993, 1056, 1120, 1132, 1174, 1251, 1306, 1367]
43

C:\Users\Administrator\AppData\Local\Temp\ipykernel_916\66776281.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['Price(Float)'][i] = calculatedPrice
C:\Users\Administrator\AppData\Local\Temp\ipykernel_916\66776281.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['Price(Float)'][i] = calculatedPrice
C:\Users\Administrator\AppData\Local\Temp\ipykernel_916\66776281.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['Price(Float)'][i] = calculatedPrice
C:\Users\Administrator\AppData\Local\Temp\ipykernel_916\66776281.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleandf['Price(Float)'][i] = calculatedPrice

In [118]:
patterns = ['Per Month','per month']
filtered_df = cleandf[cleandf['Price'].str.contains('|'.join(patterns))] #Filtering rows that dont belong to desired_cities
print(len(filtered_df),filtered_df)
cleandf = cleandf.drop(filtered_df.index)

5                                                  Title  \
50                  House For Sale In Imadol, Lalitpur
138  Bisalnagar : House For Sale In Bishal Nagar, K...
516  - LAND & BUILDING ON SALE  : House For Sale ...
656  Beautiful House : House For Sale In Lainchaur,...
767  MAHARAJGANJ 3 BHK BUNGALOW ON RENT : House For...

                                      Full_Address               Price  \
50             ['Rajkulo', ' Imadol', ' Lalitpur']  27500000 Per Month
138  ['Bisalnagar', ' Bishal Nagar', ' Kathmandu']    220000 Per Month
516         ['lolang', ' Goldhunga', ' Kathmandu']   9500000 Per Month
656      ['Lainchaur', ' Lainchaur', ' Kathmandu']     50000 per month
767           ['NA', ' Maharajgunj', ' Kathmandu']    225000 Per Month

     Bedroom  Bathroom  Floors  Parking        Face    Year Views  \
50         5         4     3.0        1       North  2077.0   410
138        0         0     2.0        0  North East     NaN   463
516        4         3     NaN        1       North  2075.0   971
656        4         3     2.5        1       South     NaN   956
767        3         5     2.0        3        East  2068.0  1.4K

              Area  Road     Build Area        Posted  \
50          3 Aana  16.0  2200 Sq. Feet  6 months ago
138   1-8-0-0 Aana  20.0       N/A Aana    1 year ago
516   0-3-0-1 Aana  12.0       N/A Aana   2 years ago
656  1100 Sq. Feet  12.0   N/A Sq. Feet   2 years ago
767       1 Ropani  20.0       N/A Aana   2 years ago

                                             Amenities        City  \
50   ['Garage', 'Parking', 'Water Supply', 'Modular...    Lalitpur
138          ['Lawn', 'Parking', 'Drainage', 'Garage']   Kathmandu
516                                                 []   Kathmandu
656  ['Lawn', 'Garage', 'Air Condition', 'Gym', 'Wi...   Kathmandu
767  ['Drainage', 'Lawn', 'Jacuzzi', 'Garage', 'Par...   Kathmandu

           Address  Area(Sq.Feet)  Area(In Sq.Feet)        Price(Float)
50          Imadol        1026.75       1026.750000  27500000 Per Month
138   Bishal Nagar         8214.0       8214.000000    220000 Per Month
516      Goldhunga    1048.140625       1048.140625   9500000 Per Month
656      Lainchaur  1100 Sq. Feet       1100.000000     50000 per month
767    Maharajgunj         342.25        342.250000    225000 Per Month

In [140]:
count = 0
floatPrice = []

for i,x in enumerate(cleandf['Price(Float)']):
    x = str(x).replace('onward','')
    x = str(x).replace('Onward','')
    x = str(x).replace('total','')
    if '20 lakh per aana' in x:
        x = str(x).replace('20 lakh per aana','').strip()
    if 'per aana' in x:
        price = cleandf['Price'][i].replace('per aana','').strip()
        print(price)
        areaInaana = cleandf['Area(In Sq.Feet)'][i]/342.25
        calculatedPrice = float(areaInaana) * float(price)
        floatPrice.append(calculatedPrice)
        continue
    floatPrice .append(float(x))

print(len(floatPrice))
# cleand

4000000
1762

In [142]:
cleandf['Price(Float)'] = floatPrice
print(cleandf.head())

                                               Title  \
0  Tokha House(Residential) : House For Sale In T...
1              House For Sale In Tikathali, Lalitpur
2  COmmercial Property At Ringroad : House For Sa...
3            House For Sale In Tarkeshwor, Kathmandu
4  Bungalow For Sale In Gahanapokhari : House For...

                                        Full_Address                Price  \
0            ['Grande Tole', ' Tokha', ' Kathmandu']             35000000
1  ['Mahalaxmi-05', ' Tikathali', ' Tikathali', '...             17000000
2            ['Kusunti', ' Ekantakuna', ' Lalitpur']  32000000 Per Ropani
3  ['Tarkeshor-5', ' Aryaltar', ' New Rangasala B...             17000000
4         ['Gahana Pokhari', ' Naxal', ' Kathmandu']             83500000

   Bedroom  Bathroom  Floors  Parking        Face    Year Views          Area  \
0        0         0     3.0        0        East     NaN   230      6-1 Aana
1        2         1     1.0        1       North     NaN   164    0-3-1 Aana
2        0         3     NaN        2       North     NaN   194  0-3-3-2 Aana
3        5         2     2.0        1        East  2079.0   180        3 Aana
4        4         4     3.0        0  South East     NaN   259    9-3-1 Aana

   Road     Build Area       Posted  \
0  13.0       N/A Aana  3 weeks ago
1  13.0   785 Sq. Feet  4 weeks ago
2  94.0   0-3-3-2 Aana  1 month ago
3  10.0         3 Aana  1 month ago
4  13.0  2800 Sq. Feet  1 month ago

                                           Amenities        City      Address  \
0                                                 []   Kathmandu        Tokha
1                                                 []    Lalitpur    Tikathali
2                                                 []    Lalitpur   Ekantakuna
3  ['Parking', 'Wifi', 'Balcony', 'Water Supply',...   Kathmandu   Tarkeshwor
4  ['Lawn', 'Parking', 'Garden', 'Water Supply', ...   Kathmandu        Naxal

  Area(Sq.Feet)  Area(In Sq.Feet)  Price(Float)
0     2139.0625        2139.06250    35000000.0
1     1112.3125        1112.31250    17000000.0
2    1326.21875        1326.21875     7750000.0
3       1026.75        1026.75000    17000000.0
4     3336.9375        3336.93750    83500000.0

In [145]:
cleandf.shape

(1762, 20)

In [47]:
zero_counts = cleandf.eq('').sum()

print(zero_counts)

AttributeError: 'DataFrame' object has no attribute 'includes'

In [53]:
zero_counts = (cleandf == 0).sum()

# Displaying individual column zero counts
for column, count in zero_counts.items():
    print(f"Column '{column}' has {count} zero values.")

Column 'Title' has 0 zero values.
Column 'Full_Address' has 0 zero values.
Column 'Price' has 0 zero values.
Column 'Bedroom' has 474 zero values.
Column 'Bathroom' has 479 zero values.
Column 'Floors' has 3 zero values.
Column 'Parking' has 587 zero values.
Column 'Face' has 0 zero values.
Column 'Year' has 0 zero values.
Column 'Views' has 0 zero values.
Column 'Area' has 0 zero values.
Column 'Road' has 147 zero values.
Column 'Build Area' has 0 zero values.
Column 'Posted' has 0 zero values.
Column 'Amenities' has 0 zero values.
Column 'City' has 0 zero values.
Column 'Address' has 0 zero values.
Column 'Area(Sq.Feet)' has 2 zero values.
Column 'Area(In Sq.Feet)' has 3 zero values.

In [146]:
cleandf.isnull().sum()

Title                 0
Full_Address          0
Price                 0
Bedroom               0
Bathroom              0
Floors              512
Parking               0
Face                  0
Year                895
Views                 0
Area                  0
Road                  0
Build Area            0
Posted                0
Amenities             0
City                  0
Address               0
Area(Sq.Feet)         0
Area(In Sq.Feet)      0
Price(Float)          0
dtype: int64

In [152]:
def select_columns(input_file, output_file, columns):
    # Read the old CSV file into a pandas DataFrame
    df = pd.read_csv(input_file)
    
    # Select the desired columns
    selected_df = df[columns]
    
    # Write the selected columns to a new CSV file
    selected_df.to_csv(output_file, index=False)

# Example usage
input_file = 'dataset_cleaning.csv'
output_file = 'cleaned_dataset.csv'
columns = ['City', 'Address', 'Area(In Sq.Feet)','Price(Float)','Bedroom','Bathroom','Road','Face','Parking','Floors']  # Replace with the actual column names

select_columns(input_file, output_file, columns)

In [153]:
finaldf = pd.read_csv('cleaned_dataset.csv')
finaldf.shape

(1762, 10)

In [154]:
zero_counts = finaldf.eq(0).sum()
print(zero_counts)

City                  0
Address               0
Area(In Sq.Feet)      3
Price(Float)          0
Bedroom             473
Bathroom            478
Road                147
Face                  0
Parking             586
Floors                3
dtype: int64

In [158]:
finaldf.isnull().sum()

City                  0
Address               0
Area(In Sq.Feet)      0
Price(Float)          0
Bedroom               0
Bathroom              0
Road                  0
Face                  0
Parking               0
Floors              512
dtype: int64

In [144]:
cleandf.to_csv('dataset_cleaning.csv',index = False) #Cleaned Dataset